---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
---

<Layout title="About us">
    <div class="bg-amber-600 p-5 sm:p-10 h-[calc(100dvh)] w-screen flex flex-col justify-between">
        <div class="">
            <div class="">
                <a href="/" class="text-3xl sm:text-5xl font-restoration">PLEYMS<br>PIZZA<br>BALCONY</a>
            </div>
            <div class="pt-5">
                <div class="font-pinewood text-white text-base">
                    <p>Ta kontakt med Øystein eller Trygve for å avtale.</p>
                    <br>

                    <p>Øystein <i class="text-zinc-200">( 472 51 905 | oystein@playms.no )</i></p>
                    <br>
                    <p>Trygve <i class="text-zinc-200">( 467 87 607 | trygve@playms.no )</i></p>
                    <br>
                    <br>

                    <p>Udbyes gate 3B</p>
                    <p>7030 Trondheim</p>
                    <p>Norge</p>
                </div>


            </div>
        </div>
        <br>
        <br>
        <br>
        <Nav colour="black"/>
    </div>
</Layout>