---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
---

<Layout title="Playms Pizza Balcony">
	<div class="p-5 sm:p-10 h-[calc(100dvh)] w-screen bg-no-repeat bg-cover bg-top flex flex-col justify-between" style="background-image: url('/images/pizza.jpg');">
		<h1 class="text-6xl sm:text-7xl text-white font-restoration">PLEYMS<br>PIZZA<br>BALCONY</h1>
		<Nav/>
	</div>
</Layout>