---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import MenuItem from '../components/MenuItem.astro'
---

<Layout title="About us">
    <div class="bg-zinc-800 text-white sm:p-10 min-h-fit w-screen flex flex-col justify-between">
        <div class="md:w-1/2">
            <div class="p-5 w-screen h-auto">
                <a href="/" class="text-3xl sm:text-5xl text-white font-restoration">PLEYMS<br>PIZZA<br>BALCONY</a>
            </div>
            <div class="px-5 pt-5">
                <h3 class="font-pinewood text-white text-xl">Antipasti</h3>
                <MenuItem item="Caprese" contents="Mozerella, tomato, basil"/>
                <MenuItem item="Insalata di ruccola" contents="Ruccula, pecorino, balsamico"/>
                <MenuItem item="Casio e pepe" contents="Pasta, pecorino, pepe"/>
                <MenuItem item="Spanks tapas" contents="Manchego, peppers, red onions"/>
                <br>

                <h3 class="font-pinewood text-white text-xl">Pizza Rossa</h3>
                <MenuItem item="Margherita" contents="Mozerella, tomato, basil"/>
                <MenuItem item="Diavola" contents="Mozerella, tomato, salami, nduja"/>
                <MenuItem item="Pollo pesto" contents="Mozerella, pesto, pollo, pinolo, sjampinjoni"/>
                <MenuItem item="Tapas Spagnole" contents="Manchego, salami, pepper, red onion"/>
                <MenuItem item="Parma" contents="Mozzarella, parma, rucola, parmigiano, pinoli"/>
                <MenuItem item="Gorgonzola di Bistecca" contents="Steak, mozzarella, gorgonzola, red onion"/>
                <br>

                <h3 class="font-pinewood text-white text-xl">Pizza Bianca</h3>
                <MenuItem item="Principessa" contents="Mozerella, mascapone, olivio, spekk, ruccola, pecorino"/>
                <MenuItem item="Mortadella" contents="Røros rømme, Mozzarella, Mortadella skinke, Burrata, pistachio, chilli honey"/>
                <MenuItem item="Gorgonzola di Pera" contents="Gorgonzola, parmigiano, pera, bacon, noce glassata al miele"/>
                <MenuItem item="Pizza di Pistachio" contents="Pistachio, pecorino romano, mozzarella, prosciutto, scorza di limone"/>
                <br>

                <h3 class="font-pinewood text-white text-xl">Pizza Vegetariana</h3>
                <MenuItem item="Vegetariana Ultimate" contents="Mozerella, eggplant, zucchini, mushrooms, caramelised onion, roasted pepper, chevre"/>
                <MenuItem item="Quattro Formaggi Verde" contents="Mozerella, gorgonzola, parmigiano, ricotta, spinach"/>
                <MenuItem item="Tapas Spagnole Vegetariane" contents="Manchego, pepper, red onion"/>
                <br>

                <h3 class="font-pinewood text-white text-xl">Beveraggi</h3>
                <MenuItem item="Aqua"/>
                <MenuItem item="PasjonFruit Guava"/>
                <MenuItem item="San Pellegrino"/>
                <MenuItem item="Fanta Lemon"/>
                <br>

                <h3 class="font-pinewood text-white text-xl">Dolci</h3>
                <MenuItem item="Gelato"/>
                <MenuItem item="Panna cotta"/>
                <MenuItem item="Tiramisu"/>
                <br>

                <h3 class="font-pinewood text-white text-xl">Beveraggi a dolce</h3>
                <MenuItem item="Espresso"/>
                <MenuItem item="Cappuccino"/>
                <MenuItem item="Hot chocolate"/>

            </div>
        </div>
        <br>
        <br>
        <br>
        <Nav/>
        <br>
    </div>
</Layout>
