---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import ReservationForm from '../components/ReservationForm.astro';
---

<Layout title="Reserver bord">
    <div class="bg-zinc-800 text-white sm:p-10 min-h-[calc(100dvh)] w-screen flex flex-col">
        <div class="flex-1 flex flex-col items-center justify-center">
            <div class="w-full max-w-2xl">
                <div class="text-center mb-8">
                    <a href="/" class="text-3xl sm:text-5xl text-white font-restoration">PLEYMS<br>PIZZA<br>BALCONY</a>
                </div>
                <div class="text-center mb-8">
                    <h3 class="font-pinewood text-white text-xl">Reserver bord</h3>
                </div>
                <ReservationForm />
            </div>
        </div>
        <div class="mt-auto">
            <Nav/>
        </div>
    </div>
</Layout> 