---
const {colour} = Astro.props
---
{colour == "black" ?
<div class="font-pinewood text-3xl space-x-10 pl-3">
	<a href="/menu/">Pizza</a>
	<a href="/reserve/">Reserve</a>
	<a href="/about/">About</a>
	<a href="/review/">Review</a>
</div>
	:
<div class="font-pinewood text-white text-3xl space-x-10 pl-3">
	<a href="/menu/">Pizza</a>
	<a href="/reserve/">Reserve</a>
	<a href="/about/">About</a>
	<a href="/review/">Review</a>
</div>
	}

